
@{
    ViewData["Title"] = "index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<body style="background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);">
    <h1 class="text-center  " style="font-size:100px;color: #555;">
        WELCOME TO ADMIN PAGE
    </h1>
</body>

