@page
@model CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
@{
    // Initialize variables with default values
    decimal totalPrice = 0;
    int totalSeats = 0;
    string bookerName = "";

    // Parse query parameters if they exist
    if (Request.Query.ContainsKey("totalPrice"))
    {
        decimal.TryParse(Request.Query["totalPrice"], out totalPrice);
    }
    if (Request.Query.ContainsKey("totalSeats"))
    {
        int.TryParse(Request.Query["totalSeats"], out totalSeats);
    }
    if (Request.Query.ContainsKey("bookerName"))
    {
        bookerName = Request.Query["bookerName"];
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <div class="container">
        <form method="post" asp-page-handler="Checkout">
            <!-- Include hidden input for total price -->
            <input type="hidden" name="totalPrice" value="@Model.TotalPrice" />
            <div class="table-responsive">
                <table style="margin-top: 100px; background-color: white;" class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th class="col-4">Tổng Giá Tiền</th>
                            <th class="col-5">Tổng Số Lượng Vé</th>
                            <th class="text-center">Thanh Toán</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@string.Format("{0:#,##0} VNĐ", totalPrice)</td>

                            <td>@totalSeats</td>
                            <td><button  !important;" type="submit" name="payment" class="btn border-secondary text-uppercase text-primary w-100 mt-2" value="Thanh toán VNPay">Thanh toán VNPay</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</body>
</html>
